pandas==1.5.3
streamlit==1.30.0
streamlit-folium==0.13.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.26.2
seaborn==0.13.0
st-gsheets-connection==0.0.3
google.oauth==1.0.1
gspread==5.12.3
